<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free uptime monitoring service for all HTTP/HTTPs websites of all kinds. When your site goes down, we'll send you a text to let you know. <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lorem justo, tristique vel ipsum vitae, bibendum iaculis est. Fusce convallis a ex et pretium. In hac habitasse platea dictumst. Proin sed dui sed nulla rhoncus ornare. Integer tincidunt tincidunt odio, vel ultricies magna feugiat maximus. Suspendisse potenti. Aenean quam lectus, sagittis eget feugiat at, lacinia vel mauris. Donec sit amet mollis massa. Duis dapibus egestas est ac eleifend.</div>

<div class="ctaWrapper">
	<a href="account/create" class="cta green">Get Started</a>
	<a href="session/create" class="cta blue">Login</a>
</div>